@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

* {
	font-family: "OpenSans";
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-autocomplete 
{
	position: fixed;
	z-index: 9999 !important;
	width: 150px;
	background-color: white;
	list-style: none;
	padding-left: 5px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-state-focus
{
	font-style: italic;
	font-weight: bolder;
}

.ui-helper-hidden-accessible
{
	display: none;
}

.teamItem
{
	width: 80%;
	height: 30px;
	margin: 3px auto;
	background-color: dimgray;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	border-radius: 2px;
	color: white;
}

.teamFocus
{
	opacity: 0.75;
}

.teamList,
.pickList
{
	overflow-y: scroll;
}

body {
	background-color: #dbdbdb;
	font-size: 1em;
}

h1,
h2,
h3 {
	font-family: Raleway;
}

span {
	display: inline-block;
	vertical-align: middle;
}

.pure-button {
	font-family: OpenSans;
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus 
{
	background-image: none;
}

.pure-form {
	font-family: OpenSans;
}

.pure-u-1 h1,
.pure-u-1 h2,
.pure-u-1 h3 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.pure-u-1 .header {
	margin-top: 0;
	margin-bottom: 0;
}

.fixThisShit {
	padding-top: 0;
	margin: 0 0;
}

.column {
	border: black solid 1px;
}

.title {
	font-size: 2em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-family: "Raleway";
}

.button-alliance {
	background-color: #3bbeff;
	font-family: OpenSans;
	width: 100%;
	display: block;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.teamInput {
	background-color: #3bbeff;
	font-family: OpenSans;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	width: 5em;
	text-align: center;
	font-size: 1em;
}

.searchBar {
	background-color: #3bbeff;
	font-family: OpenSans;
	float: left;
	font-size: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.matchNumber {
	background-color: #3bbeff;
	font-family: OpenSans;
	font-size: 1em;
	text-align: center;
	padding-bottom: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 2rem;
}

.button-search {
	font-family: Raleway;
	width: 100%;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	background-color: #3bbeff;
	border-radius: 4px;
	border: 1px solid #ccc;
}


.cx {
	margin: 0.5em 0.5em .5em 0.5em;
	background-color: #b8c2b8;
}

.fixThisShit {
	margin-top: 0;
}

.tags,
.autoTags,
.teleTags,
.rateTitle,
.scoringTitle,
.autoS,
.teleS,
.matchThingsTitle
{
	text-align: center;
	margin: 0;
}

.unselected {
	/*	background-color: #e6e6e6;*/
}

.button-auto,
.button-tele,
.button-match
{
	width: 100%;
	font-size: .75rem;
}

.teamButton {
	margin-top: auto;
	margin-bottom: auto;
}

.button-right {
	float: right;
}

.spaceFixer {
	float: left;
}

.filler {
	display: inline-block;
	height: 5px;
}

.button-rate {
	width: 100%;
	height: 3rem;
}

.comments {
	width: 100%;
	height: 9em;
	font-family: OpenSans;
	margin-top: 0.5em;
	border: none;
}

.autoScore,
.teleScore,
.matchThings
{
	margin-bottom: .25rem;
	background-color: #b8c2b8;
}

.autoSButton,
.teleSButton
{
	float: right;
	width: 100%;
}

.autoSLabel,
.teleSLabel
{
	margin-top: auto;
	margin-bottom: auto;
}

.levels {
	height: 100%;
	margin-top: .25rem;
	text-align: right;
	padding-left: 1rem;
}

.matchThingsContainer {
	margin-left: .5rem;
	margin-top: 1rem;
}

.matchMargin {
	margin-top: 1rem;
	margin-left: 1rem;
}

.matchComments {
	font-family: OpenSans;
	height: 6em;
	width: 100%;
	margin-top: 1rem;
	border: none;
}

.slide {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
	height: 14rem;
}

.label {
	float: right;
	padding-right: 1rem;
	font-size: .75rem;
}
.commTitle {
	margin: 0;
	text-align: center;
}

.button-select {
	background-color: pink;
}

/* Buttons that are active */
.pure-button-active-blue {
	background-color: #3bbeff;
}

.pure-button-active-red {
	background-color: #e8322e;
}

/* Buttons that have focus */
.pure-button-focus-blue {
	background-color: blue;
}

.pure-button-focus-red {
	background-color: #ad2522;
}

.modal {
	height: 0;
	width: 30%;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 12rem;
	background-color: #b8c2b8;
	margin: 10rem auto;
	display: none;
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hide;
	border-radius: 10px;
	border: 1px #b8c2b8 solid;
}

.mainContent button[disabled="disabled"] {
	cursor: default;
}

.modalButton {
	margin-top: 5rem;
}

.saveYes {
	margin-right: 1rem;
}

.saveNo {
	margin-left: 1rem;
}

.titleStyle {
	margin: 0rem 1rem 0 1rem;
}

.teamContainer {
	text-align: center;
}

.teamText {
	padding-bottom: 2rem;
}

.teamNumb {
	font-size: 2rem;
}

.imgImport {
	float: right;
}

.analysisTotalMode,
.analysisAverageMode
{
	width: 100%;
	height: 2rem;
	text-align: center;
	padding-top: 1%;
}

.analysisMatchMode {
	width: 39%;
	height: 2rem;
	margin: 0 0 0 0.25em;
	text-align: center;
	padding-top: 1%;
}

.analysisMatchSelect{
	width: 14%;
	height: 2rem;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}

.pitSpeedSelect {
	width: 100%;
	text-align: center;
}

.analysisMatchDisplay {
	width: 29%;
	margin-left: 0.25em;
	margin-right: 0.25em;
	height: 2rem;
	text-align: center;
}

.demoButton {
	width: 99%;
	height: 2rem;
	margin-top: 0.75%;
	margin-right: 1%;
	text-align: center;
	padding-top: 1%;
}

.analysisAutoTags {
	background-color: #ceb5ff !important; 
}

.analysisCapaTags {
	background-color: #8fffe0 !important;
}

.analysisRating {
	background-color: #a5ff8e !important;
}

.analysisAutoScoring {	
	background-color: #ffef85 !important;
}

.analysisTeleScoring {
	background-color: #ffb5a8 !important;
}

.analysisMatchStats {
	background-color: #ffd7a8 !important;
}

.teamImg {
	background-color: #636363;
	text-align: center;
}

#robotImg
{
	width: 100%;
	height: 100%;
}

#robotImgFile
{
	display: none;
}

/*.analysisAutoScoring {
	width: 99%;
	height: 2rem;
	margin-top: 1%;
	margin-right: 1%;
	text-align: center;
	padding-top: 1%;
}

.analysisTeleScoring {
	width: 99%;
	height: 2rem;
	margin-top: 1%;
	margin-right: 1%;
	text-align: center;
	padding-top: 1%;
}*/

.analysisTable,
.matchTable
{
	width: 100%;
	text-align: center;
}

th {
	text-align: center;
	vertical-align: middle;
}

.addMatch {
	float: left; 
	height: 1.5rem;
}

.matchNumberImport {
	vertical-align: middle;
}

.matchNumberLabel {
	margin: 0;	
}

.selectionContainer {
	height: 36rem;
	border: solid #b8c2b8 1px;
}

h3 {
	text-align: center;
}
.teamList,
.pickList,
.alliance
{
	height: 100%;
	box-sizing: border-box;
	border: #dbdbdb solid 10px;
	border-radius: 25px;
}

.alliance {
	background-color: #b8c2b8;
}

.allianceContainer { 
	height: 50%;
}

.pitTitle {
	font-size: 1rem;
}

.pitSearchBar {
	background-color: #888;
	height: 1rem;
	float: left;
	margin-top: 10.72px;
}

.pitButtonSearch {
	height: 1rem;
	margin-top: 10.72px;
	font-size: 1rem;
	width: 100%;
	padding: 8px 0;
	background-color: #3bbeff;
	border-radius: 4px;
	border: 1px solid #ccc;
	display: none;
	
}

.pitToggle {
	text-align: center;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 5rem;
}

.pitContainerDrive {
	height: 32rem;
}

.pitButton {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	height: 100%;
}

.pitRow {
	height: 12.5%;
	padding-top: .5%;
}

.pitStyle {
	height: 100%;
}

.pitButtonStyle {
	height: 100%;
	width: 98%;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
}