@import url(http://fonts.googleapis.com/css?family=Cabin);
* {
    font-family: "Cabin";
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: #dbdbdb;
}

.column {
    border: black solid 1px;
}
.title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.button-alliance {
    background-color: #3bbeff;
    width: 100%;
    display: block;
    margin-top: 1rem;
    height: 2rem;
}

.teamInput {
    background-color: #3bbeff;
    margin-top: 1rem;
    height: 2rem;
    text-align: center;
}

.searchBar {
    background-color: #3bbeff;
    margin-top: 1rem;
    height: 2rem;
    float: left;
}

.matchNumber {
    background-color: #3bbeff;
    margin-top: 1rem;
    height: 2rem;
    text-align: center;
    margin-right: 2rem;
}

.button-search {
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    padding: 8px 0;
    background-color: #3bbeff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
}


.cx {
    margin: 1rem;
    background-color: #b8c2b8;
}

.tags,
.autoTags,
.teleTags
{
    text-align: center;
    margin: 0;
}

.button-auto,
.button-tele
{
    width: 100%;
}

.button-right {
    float: right;
}

.spaceFixer {
    float: left;
}

.filler {
    display: inline-block;
    height: 5px;
}
