@import url(http://fonts.googleapis.com/css?family=Cabin);
* {
    font-family: "Cabin";
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: #dbdbdb;
}

.column {
    border: 1px solid black;
}

.title {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.button-alliance {
    background-color: #3bbeff;
    width: 100%;
    display: block;
    margin-top: 1rem;
}
